html,
body {
  background-color: #83cbdd;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Roboto", regular 400;
  font-size: 20px;
  color: #231d25;
  margin: auto;
  padding: auto;
  border-top: 0.4px solid #fff2e7;
}

#mainTitle {
  font-family: "Roboto", regular 400;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #170f1a;
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color:none;
}

#useThisToolTitle {
  font-family: 'Roboto', regular 400;
  font-weight: 30;
  font-size: 14px;
  letter-spacing: 2px;
  line-height:30px;
  margin-left: 60px;
  margin-right: 60px;
  color: #0e1412;
}

#shortDescription{
  font-family: "Roboto", regular 400; 
  font-weight: 30;
  font-size: 14px;
  letter-spacing: 1px;
  line-height:30px;
  margin-left: 60px;
  margin-right: 60px;
  color: #0e1412;
}
#chooseOption{
  font-family: "Roboto", regular 400;
  font-size: 20px;
  color:#0e1412;
  font-weight: 100;
  letter-spacing: 2px;
}

#indicateBelow{
  font-family: "Roboto", regular 400;
  font-size: 16px;
  color:#0e1412;
  font-weight: 100;
 
}

::placeholder {
  color: #314ec4;
  font-size: 12px;
  font-family: "Roboto", regular 400;
  text-align: center;
}

#encodeOption{
  font-family: "Roboto", regular 400;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
}

#decodeOption{
  font-family: "Roboto", regular 400;
  font-size: 16px;
  color:#0e1412;
  font-weight: 100;
 
}

#insertNum{
  font-family: "Roboto", regular 400;
  font-size: 16px;
  color:#0e1412;
  font-weight: 100;
  letter-spacing: 2px;
}

.transitionRadio{
  width: 20px;
  height: 20px;
  transition: transform 2s;
    
}
.transitionRadio:checked{
  transform: scale(2);
  
}

#insertTextBox {
  height: 100px;
  width: 500px;
  margin: 10px;
  border: none;
  border-radius: 0px 0px 0px 0px;
  font-family: "Roboto", regular 400;
  font-size: 15px;
  resize: none;
  padding: 15px;
  opacity: 60%;
}

#resultArea {
  height: 100px;
  width: 500px;
  margin: 10px;
  border:#0e1412;
  border-radius: 0px 0px 0px 0px;
  font-family: "Roboto", regular 400;
  resize: none; 
  padding: 15px;
  opacity: 40%;
}

#encode{
  background: #221422;
	color: #fff;
	border: 0.1px solid rgb(26, 1, 29);
	border-radius: 0px;
	text-shadow: none;
}

#numBox{
  height: 20px;
  width: 30px;
  margin: 10px;
  border: none;
  border-radius: 0px 0px 0px 0px;
  margin-right: 10px;
  font-family: "Roboto", regular 400;
  font-size: 18px;
  resize: none;
  padding: 15px;
  opacity: 50%;

}

#sendText{
  background:    #2a98cf;
  border-radius: 0px;
  box-shadow:    0 1px #1d1111;
  padding:       5px 9px;
  color:         #162a79;
  display:       inline-block;
  font-family:   "Roboto", regular 400;
  font-size: 18px;
  text-align:    center;
}

#developedBy{
  font-family: "Roboto", regular 400;
  font-weight: 100;
  color: #576dc1;
  text-align: center;
  opacity: 0.8;
  margin-top: 20px;
  padding: 10px;
  

}
